@tailwind base;
@tailwind components;
@tailwind utilities;

.background-image {
  @apply bg-fixed bg-cover bg-center;
  background-image: url('dist/img/bggg.jpg');
}

.navbar-fix {
  @apply fixed z-50 bg-transparent bg-slate-50 bg-opacity-80 dark:bg-slate-700 backdrop-blur-sm dark:bg-opacity-50;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
}

.menu-active {
  @apply text-first dark:text-first;
}

.nav-active > span:nth-child(1) {
  @apply rotate-[41deg];
}
.nav-active > span:nth-child(2) {
  @apply scale-0;
}
.nav-active > span:nth-child(3) {
  @apply -rotate-[41deg];
}
.animate-before {
  @apply overflow-hidden;
  max-height: 100px;
}
.animate-after {
  @apply bg-first;
  max-height: 500px;
}
